///*------------------------------------*\
//    #CORE/HTML - LINKS
//\*------------------------------------*/

a {
  color: $blue;
  transition: all 0.3s ease;
  text-decoration: none;

  &:active {}

  &:focus,
  &:hover {
    color: darken($blue,10%);
  }
}
