<!doctype html>
<html class="no-js">
{% set pageTitle = "John's Jawns | Philadelphia PA | Woodblock Art" %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle | escape }}</title>

    <meta name="description" content="Hello. My name is John Doyle Coates. I'm a South Philly resident, Temple Alumn and grew up in Hartford, CT.  As a therapeutic side gig, I create city-scape wood blocks that I've coined John's Jawns. The Pay the Bills series, is my most recent collection of jawns. Scroll down to see what's in stock or reach out with an idea. Happy to create multi-city pieces upon request.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="canonical" href="https://johnsjawns.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="John Coates" />
    <meta property="og:description" content="Johns Jawns | Philadelphia | Woodblock Art" />
    <meta property="og:url" content="https://johnsjawns.com/" />
    <meta property="og:site_name" content="John Coates" />
    <meta property="og:image" content="/images/jjs-face--b-and-w.png" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script>
      if (sessionStorage.fontsLoaded === 'true') {
        document.documentElement.classList.add("fonts-loaded");
      } else {
        var script = document.createElement("script");
        script.src = "/scripts/fontloader.built.js";
        script.async = true;
        document.head.appendChild(script);
      };
    </script>

    <link rel="stylesheet" href="/styles/screen.css">

    <script src="/scripts/libs/modernizr.js"></script>

  </head>
