///*------------------------------------*\
//    #UTILITY - COLORS
//\*------------------------------------*/
/* Note: the palette function is included here (vs in the tools directory)
 * since both of these needed in order to work properly
 */
@function palette($palette, $tone: 'base') {
   @return map-get(map-get(map-get($palettes, colors), $palette), $tone);
}
$palettes: (
  colors: (
    material: (
      blueLight: #5160b2,
      blueDark: #001355,
      grey: #f5f5f5,
      black: #313131
    ),
    postal: (
      red: #ff3a36,
      blue: #173782,
      grey: #e8e8e8
    ),
    white: (
      base: #fff
    )
  )
);

$black: palette(material, black);
$blue: palette(material, blueDark);
$blueLight: palette(material, blueLight);
$grey: palette(material, grey);
$postalBlue: palette(postal, blue);
$postalGrey: palette(postal, grey);
$postalRed: palette(postal, red);
$white: palette(white);
