<div class="contact" id="contact" data-module="contactSection">
  <div class="wrapper">
    <div class="contact__image" style="background-image: url('{{imageSrc1}}')"></div>
    <div class="contact__image" style="background-image: url('{{imageSrc2}}')"></div>
    <div class="contact__image" style="background-image: url('{{imageSrc3}}')"></div>
    <div class="contact__content">
      <p><span>Interested in owning your own?</span>Name the city and I'll name the price!</p>
        <a class="svg-wrapper" href="mailto:jdoylecoates@gmail.com?subject=%23johnsjawns%20Request%20%7C%20johnsjawns.com&body=John%2C%0A%0AI%20would%20like%20to%20request%20a%20%23johnsjawns%20woodblock%20of%20%7B%7Bcity%7D%7D%2C%20please%20let%20me%20know%20your%20availability%20is%20and%20the%20cost.%0A%0AThanks%2C%0A%0A%7B%7Bname%7D%7D%0A%7B%7Bemail%7D%7D%0A%7B%7Bphone%7D%7D">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320"/>
          <div class="text">Request a John's Jawns</div>
        </svg>
      </a>
    </div>
  </div>
</div>